<launch>

	<include file = "$(find robot_setup_tf)/launch/octomap_to_spherical.launch" />

	<node pkg="robot_control" type="motion_computation" name="motion_computation" output="screen" />

	<node pkg = "robot_control" type="robot_control" name="robot_control" output="screen" />
	
	<node pkg = "robot_control" type="record_data" name="record_data" output="screen" />
	
	<node pkg="robot_setup_tf" type="octomap_time_measuring" name="octomap_time_measuring" output="screen" />
	
	<node pkg="rviz" type="rviz" name="rviz" />

</launch>
